Repository PUCIT-DEV/Ghost-new, changes with the labels that .github/labeler.yml gives for each.
All labels: affects:i18n, affects:admin, affects:portal

.github/labeler.yml:

'affects:i18n':
  - 'ghost/i18n/**'
'affects:admin':
  - 'ghost/admin/**'
  - 'apps/admin-x-*/**'
'affects:portal':
  - 'apps/portal/**'

Changes for getting device details
  ghost/session-service/lib/session-service.js
  ghost/session-service/package.json
  yarn.lock
Labels: none

Changed subject for verification mail
  ghost/session-service/lib/session-service.js
Labels: none

Updated design for 2FA verification code email
  ghost/session-service/lib/emails/signin.js
Labels: none

Fixed errors
  ghost/session-service/lib/session-service.js
Labels: none

Added depends_on to sequence appropriately, added config safety
  docker/docker-compose.yml
  ghost/core/core/shared/config/loader.js
Labels: none

Fixed setup screen session.authenticate call
  ghost/admin/app/controllers/setup.js
Labels: affects:admin

Added sitelogo
  ghost/session-service/lib/emails/signin.js
  ghost/session-service/lib/session-service.js
Labels: none

Updated font weights for Fira Sans and Poppins
  ghost/custom-fonts/src/index.ts
Labels: none

Updated font weights for Inter
  ghost/custom-fonts/src/index.ts
Labels: none

Updated font weights for IBM Plex Serif
  ghost/custom-fonts/src/index.ts
Labels: none

Added site logo to email template if available
  ghost/session-service/lib/emails/signin.js
  ghost/session-service/lib/session-service.js
Labels: none

Updated label typography
  apps/admin-x-settings/src/components/settings/membership/portal/LookAndFeel.tsx
  apps/admin-x-settings/src/components/settings/membership/portal/SignupOptions.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/GlobalSettings.tsx
Labels: affects:admin

Switched to using publication icon for 2fa email
  ghost/core/core/server/services/auth/session/index.js
  ghost/session-service/lib/session-service.js
Labels: none

Displaying fonts in dropdown
  apps/admin-x-design-system/src/global/form/Select.tsx
  apps/admin-x-design-system/styles.css
  apps/admin-x-design-system/tailwind.config.cjs
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/GlobalSettings.tsx
Labels: affects:admin

Move resend button to field
  ghost/admin/app/controllers/signin-verify.js
  ghost/admin/app/templates/signin-verify.hbs
Labels: affects:admin

Fix lint
  ghost/admin/app/templates/signin-verify.hbs
Labels: affects:admin

Added font-size-adjust option
  ghost/custom-fonts/src/index.ts
  ghost/custom-fonts/test/index.test.ts
Labels: none

Updated spacing in custom theme settings
  apps/admin-x-design-system/src/global/form/Form.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/ThemeSettings.tsx
Labels: affects:admin

Minor change in subject
  ghost/session-service/lib/session-service.js
Labels: none

Added condition to depends_on for mysql and redis to ensure they are ready before Ghost boots
  docker/docker-compose.yml
Labels: none

Added in-reply-to support to comments API
  ghost/core/core/server/api/endpoints/comments-members.js
  ghost/core/core/server/api/endpoints/utils/serializers/output/mappers/comments.js
  ghost/core/core/server/models/comment.js
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/core/server/services/comments/CommentsService.js
  ghost/core/core/server/services/comments/CommentsServiceEmails.js
  ghost/core/test/e2e-api/admin/__snapshots__/activity-feed.test.js.snap
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: none

Added `comments.in_reply_to_id` column migration
  ghost/core/core/server/data/migrations/versions/5.95/2024-09-26-08-59-59-add-comments-in-reply-to-id.js
  ghost/core/core/server/data/schema/schema.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: none

Combined dev and docker-dev-full scripts
  .dockerignore
  .github/scripts/dev.js
  .github/scripts/docker-dev-full.js
  docker/Dockerfile
  package.json
Labels: none

Extracted comment member name and initial helper functions
  apps/comments-ui/src/AppContext.ts
  apps/comments-ui/src/components/content/Avatar.tsx
  apps/comments-ui/src/components/content/Comment.tsx
  apps/comments-ui/src/utils/helpers.test.ts
  apps/comments-ui/src/utils/helpers.ts
  apps/comments-ui/test/utils/fixtures.ts
Labels: none

Added yarn and git submodule update to post-checkout hook
  .github/hooks/post-checkout
Labels: none

Simplified post-checkout hook and made the submodule commit foolproof
  .github/hooks/post-checkout
Labels: none

Added some simple log outputs to post-checkout hook
  .github/hooks/post-checkout
Labels: none

Added -n to first echo command to keep the output to a single line
  .github/hooks/post-checkout
Labels: none

Tweaked log output a bit
  .github/hooks/post-checkout
Labels: none

Set default value for environment variables to suppress warnings
  docker/docker-compose.yml
Labels: none

Improved logging for APP_FLAGS environment variable
  .github/scripts/dev.js
  package.json
Labels: none

Removed config.dockerdev.json in favor of environment variables in docker compose
  docker/docker-compose.yml
  ghost/core/core/shared/config/env/config.dockerdev.json
  ghost/core/core/shared/config/loader.js
Labels: none

Added post-checkout hook to prepare script
  package.json
Labels: none

feat(i18n): add zh-Hant translation
  ghost/i18n/locales/zh-Hant/portal.json
  ghost/i18n/locales/zh-Hant/search.json
Labels: affects:i18n

Create npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Update npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Update npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Update npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Update npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none

Update npm-gulp.yml
  .github/workflows/npm-gulp.yml
Labels: none
