Repository PUCIT-DEV/Ghost-new, changes with the labels that .github/labeler.yml gives for each.
All labels: affects:i18n, affects:admin, affects:portal

.github/labeler.yml:

'affects:i18n':
  - 'ghost/i18n/**'
'affects:admin':
  - 'ghost/admin/**'
  - 'apps/admin-x-*/**'
'affects:portal':
  - 'apps/portal/**'

Used a key prefix to enable immediate cache resets
  ghost/adapter-cache-redis/lib/AdapterCacheRedis.js
  ghost/adapter-cache-redis/test/adapter-cache-redis.test.js
Labels: none

Added portal fixtures to tests
  apps/portal/src/components/pages/UnsubscribePage.test.js
  apps/portal/src/utils/fixtures-generator.js
  apps/portal/src/utils/test-fixtures.js
Labels: affects:portal

Added initial setup for direnv
  .envrc
  .gitignore
  flake.lock
  flake.nix
Labels: none

Ensured comment counts route doesn't load member (#19762)
  ghost/core/core/server/web/comments/routes.js
Labels: none

Updated Comments UI to use new endpoint
  apps/comments-ui/src/utils/api.ts
  apps/comments-ui/test/utils/MockedApi.ts
Labels: none

Supported setting headers on a per-request basis
  ghost/api-framework/lib/Frame.js
  ghost/api-framework/lib/headers.js
  ghost/api-framework/test/headers.test.js
Labels: none

🐛 Fixed pasting into HTML card editor replacing the card with a paragraph (#19757)
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

Fixed comments MockedApi and tests
  apps/comments-ui/test/e2e/auth-frame.test.ts
  apps/comments-ui/test/e2e/pagination.test.ts
  apps/comments-ui/test/utils/MockedApi.ts
Labels: none

Added output to the get helper when the timeout is exceeded (#19761)
  ghost/core/core/frontend/helpers/get.js
  ghost/core/test/unit/frontend/helpers/get.test.js
Labels: none

🐛 Fixed cache invalidation header race conditions
  ghost/core/core/server/api/endpoints/collections.js
  ghost/core/core/server/api/endpoints/labels.js
  ghost/core/core/server/api/endpoints/pages.js
  ghost/core/core/server/api/endpoints/posts.js
  ghost/core/core/server/api/endpoints/schedules.js
  ghost/core/core/server/api/endpoints/settings.js
  ghost/core/core/server/api/endpoints/tags.js
  ghost/core/core/server/api/endpoints/themes.js
  ghost/core/core/server/api/endpoints/users.js
  ghost/core/core/server/services/posts/post-scheduling-service.js
Labels: none

Ensured that endpoint header config is not modified in future
  ghost/api-framework/lib/pipeline.js
Labels: none

Added lazy-loading to comments (#19769)
  apps/comments-ui/src/App.tsx
  apps/comments-ui/src/components/ContentBox.tsx
  apps/comments-ui/src/components/Frame.tsx
  apps/comments-ui/src/components/IFrame.tsx
  apps/comments-ui/src/components/content/Loading.tsx
  apps/comments-ui/test/e2e/lazy-loading.test.ts
  apps/comments-ui/test/utils/e2e.ts
Labels: none

Removed timestamp from initial load of comments
  apps/comments-ui/src/utils/api.ts
Labels: none

Updated Brazilian Portuguese translations (#19724)
  ghost/i18n/locales/pt-BR/portal.json
Labels: affects:i18n

Added hrefs to paywall links for improved SEO
  ghost/core/core/frontend/helpers/tpl/content-cta.hbs
Labels: none

v5.79.6
  ghost/admin/package.json
  ghost/core/package.json
Labels: affects:admin

Added rounding to Comments-UI API fetch timestamp (#19750)
  apps/comments-ui/src/utils/api.ts
Labels: none

Added endpoint for comments/post/:post_id
  ghost/core/core/server/api/endpoints/comments-members.js
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/core/server/web/comments/routes.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: none

v5.79.5
  ghost/admin/package.json
  ghost/core/package.json
Labels: affects:admin

Fixed incorrect cache invalidation headers for slugs Admin API endpoint (#19753)
  ghost/core/core/server/api/endpoints/slugs.js
  ghost/core/test/e2e-api/admin/slugs.test.js
Labels: none

🐛 Fixed extra whitespace in plaintext transactional member emails (#19736)
  ghost/core/core/server/services/members/api.js
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
Labels: none

Released comments-ui 0.14.1 (#19770)
  apps/comments-ui/package.json
Labels: none

Content card design improvements (#19737)
  ghost/core/core/frontend/src/cards/css/audio.css
  ghost/core/core/frontend/src/cards/css/bookmark.css
  ghost/core/core/frontend/src/cards/css/file.css
  ghost/core/core/frontend/src/cards/css/header_v2.css
  ghost/core/core/frontend/src/cards/css/product.css
  ghost/core/core/frontend/src/cards/css/signup.css
  ghost/core/core/frontend/src/cards/css/video.css
  ghost/core/test/e2e-api/admin/oembed.test.js
  ghost/oembed-service/lib/OEmbedService.js
Labels: none

Cleaned up comments controller
  ghost/core/core/server/services/comments/CommentsController.js
Labels: none

🎨 Include archived offers in members filter (#19756)
  ghost/admin/app/components/members/filter.js
  ghost/admin/app/components/offers/segment-select.js
Labels: affects:admin

🐛 Prevented newsletter subscriptions from getting out of sync in Portal (#19768)
  apps/portal/src/components/pages/UnsubscribePage.js
Labels: affects:portal

v5.80.0
  ghost/admin/package.json
  ghost/core/package.json
Labels: affects:admin

Added /comments/:id/replies/ to X-Cache-Invalidate
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: none

✨ Added lazy-loading of comments data (#19778)
  ghost/core/core/shared/config/defaults.json
Labels: none

Released Comments-UI 0.15.0 (#19775)
  apps/comments-ui/package.json
Labels: none

Invalidated post comments cache on like&unlike
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
Labels: none

Switched to default ordering for comments API requests (#19774)
  apps/comments-ui/src/utils/api.ts
  ghost/core/core/server/api/endpoints/utils/serializers/input/comments.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
  ghost/core/test/e2e-api/members-comments/comments.test.js
Labels: none

Remove comment icon at the top of email template (#19771)
  apps/admin-x-settings/src/components/settings/email/newsletters/NewsletterPreviewContent.tsx
  ghost/core/test/e2e-api/admin/__snapshots__/email-previews.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/batch-sending.test.js.snap
  ghost/core/test/integration/services/email-service/__snapshots__/cards.test.js.snap
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/email-service/lib/email-templates/partials/styles-old.hbs
  ghost/email-service/lib/email-templates/partials/styles.hbs
  ghost/email-service/lib/email-templates/template-old.hbs
  ghost/email-service/lib/email-templates/template.hbs
Labels: affects:admin

Invalidated the new comments endpoint cache on add & edit
  ghost/core/core/server/services/comments/CommentsController.js
  ghost/core/test/e2e-api/members-comments/__snapshots__/comments.test.js.snap
Labels: none

Improved types for Entity
  ghost/ghost/src/common/entity.base.ts
Labels: none

Initial commit
  ghost/ghost/src/core/staff-custom-fields/custom-field.entity.ts
  ghost/ghost/src/core/staff-custom-fields/custom-field.repository.ts
  ghost/ghost/src/core/staff-custom-fields/custom-field.service.ts
  ghost/ghost/src/db/in-memory/custom-field.repository.in-memory.ts
  ghost/ghost/src/http/admin/controllers/custom-fields.controller.ts
  ghost/ghost/src/nestjs/modules/admin-api.module.ts
Labels: none

First pass on UserSettingsModal with Route
  apps/admin-x-settings/src/components/providers/SettingsRouter.tsx
  apps/admin-x-settings/src/components/providers/routing/modals.tsx
  apps/admin-x-settings/src/components/settings/general/UserSettingsModal.tsx
  apps/admin-x-settings/src/components/settings/general/Users.tsx
Labels: affects:admin

Added basic API for `/custom_fields`
  apps/admin-x-framework/src/api/customFields.ts
Labels: affects:admin

Added ability to pass `minThreshold` for Milestone Slack notifications
  ghost/core/core/server/services/slack-notifications/service.js
  ghost/core/test/unit/server/services/slack-notifications/index.test.js
  ghost/slack-notifications/lib/SlackNotificationsService.js
  ghost/slack-notifications/test/SlackNotificationsService.test.js
Labels: none

Renamed staff-custom-field to staff-fields
  ghost/ghost/src/core/staff-fields/custom-field.entity.ts
  ghost/ghost/src/core/staff-fields/custom-field.repository.ts
  ghost/ghost/src/core/staff-fields/custom-field.service.ts
  ghost/ghost/src/db/in-memory/custom-field.repository.in-memory.ts
  ghost/ghost/src/http/admin/controllers/custom-fields.controller.ts
  ghost/ghost/src/nestjs/modules/admin-api.module.ts
Labels: none
