Repository PUCIT-DEV/Ghost-new, changes with the labels that .github/labeler.yml gives for each.
All labels: affects:i18n, affects:admin, affects:portal

.github/labeler.yml:

'affects:i18n':
  - 'ghost/i18n/**'
'affects:admin':
  - 'ghost/admin/**'
  - 'apps/admin-x-*/**'
'affects:portal':
  - 'apps/portal/**'

Added Jaeger to docker-compose
  .github/scripts/docker-compose.yml
Labels: none

Enabled OpenTelemetry by default in development
  ghost/core/core/shared/OpenTelemetryKnexTracing.js
  ghost/core/core/shared/instrumentation.js
  ghost/core/test/unit/shared/OpenTelemetryKnexTracing.test.js
Labels: none

fixup! Enabled OpenTelemetry by default in development
  ghost/core/core/shared/instrumentation.js
Labels: none

fixup! Enabled OpenTelemetry by default in development
  ghost/core/core/shared/OpenTelemetryKnexTracing.js
  ghost/core/core/shared/instrumentation.js
Labels: none

Disabled custom knex integration and replaced with OTEL autoinstrumentation
  ghost/core/core/boot.js
  ghost/core/core/shared/instrumentation.js
  ghost/core/package.json
  yarn.lock
Labels: none

Removed the RedirectEvent emitter from the LinkRedirectsService
  ghost/link-redirects/lib/LinkRedirectsService.js
Labels: none

WIP: update Sentry to v8
  ghost/core/core/app.js
  ghost/core/core/frontend/helpers/get.js
  ghost/core/core/frontend/web/middleware/error-handler.js
  ghost/core/core/shared/express.js
  ghost/core/core/shared/sentry.js
  ghost/core/package.json
  ghost/mw-error-handler/lib/mw-error-handler.js
  yarn.lock
Labels: none

Fixed ref to canary-arch
  .github/workflows/ci.yml
Labels: none

Put members caching functionality behind a config flag
  ghost/core/core/frontend/services/rendering/renderer.js
  ghost/core/core/server/services/members/middleware.js
  ghost/core/core/server/web/members/app.js
Labels: none

Changed configuration key to enable members caching
  ghost/core/core/frontend/web/middleware/frontend-caching.js
  ghost/core/core/server/web/members/app.js
  ghost/core/test/e2e-api/members/middleware.test.js
  ghost/core/test/unit/frontend/web/middleware/frontend-caching.test.js
Labels: none

Moved member's caching headers into frontend-caching middleware
  ghost/core/core/frontend/services/rendering/renderer.js
  ghost/core/core/frontend/web/middleware/frontend-caching.js
  ghost/core/core/frontend/web/middleware/index.js
  ghost/core/core/frontend/web/site.js
  ghost/core/test/unit/frontend/web/middleware/frontend-caching.test.js
Labels: none

Removed Vary: X-Member-Cache-Tier header
  ghost/core/core/frontend/web/middleware/frontend-caching.js
  ghost/core/test/unit/frontend/web/middleware/frontend-caching.test.js
Labels: none

Removed cache-control: private from frontend if members caching is enabled
  ghost/core/core/frontend/web/site.js
Labels: none

Added a very minimal WIP version of caching members content
  ghost/core/core/frontend/services/rendering/renderer.js
  ghost/core/core/server/services/members/middleware.js
  ghost/core/core/server/web/members/app.js
Labels: none

Changed ghost-access headers to use tier id instead of slug
  ghost/core/core/frontend/web/middleware/frontend-caching.js
  ghost/core/core/frontend/web/site.js
  ghost/core/core/server/services/members/middleware.js
  ghost/core/test/e2e-api/members/__snapshots__/middleware.test.js.snap
  ghost/core/test/e2e-api/members/middleware.test.js
  ghost/core/test/unit/frontend/web/middleware/frontend-caching.test.js
Labels: none

Refactored to avoid retrieving the free tier on each request
  ghost/core/core/frontend/web/middleware/frontend-caching.js
  ghost/core/core/frontend/web/site.js
  ghost/core/test/unit/frontend/web/middleware/frontend-caching.test.js
Labels: none

fixup! Added a very minimal WIP version of caching members content
  ghost/core/core/frontend/services/rendering/renderer.js
Labels: none

Added an e2e test for the ghost-access cookies
  ghost/core/core/server/web/members/app.js
  ghost/core/test/e2e-api/members/__snapshots__/middleware.test.js.snap
  ghost/core/test/e2e-api/members/middleware.test.js
Labels: none

Set the access cookies in the create magic link handler
  ghost/core/core/server/services/members/middleware.js
Labels: none

Extracted hmac secret into config
  ghost/core/core/server/services/members/middleware.js
  ghost/core/test/e2e-api/members/middleware.test.js
Labels: none

✨ Added startsWith check to the match helper
  ghost/core/core/frontend/helpers/match.js
  ghost/core/test/unit/frontend/helpers/match.test.js
Labels: none

Updated Portal notification styles
  apps/portal/src/components/Global.styles.js
  apps/portal/src/components/Notification.js
  apps/portal/src/components/Notification.styles.js
  apps/portal/src/components/common/PopupNotification.js
Labels: affects:portal

WIP getting Ghost running in docker
  .github/scripts/.dockerignore
  .github/scripts/Dockerfile
  .github/scripts/docker-compose.full.yml
  .github/scripts/setup.js
Labels: none

🐛 Fixed additional white space appearing at bottom of editor (#20757)
  ghost/admin/app/components/koenig-lexical-editor.js
  ghost/core/test/e2e-browser/admin/publishing.spec.js
Labels: affects:admin

Initial Commit
  ghost/core/core/shared/config/env/config.development.json
Labels: none

Added breaking test for sending welcome emails
  ghost/core/test/e2e-api/admin/__snapshots__/members.test.js.snap
  ghost/core/test/e2e-api/admin/members.test.js
Labels: none

Cleaned up settings cache after test
  ghost/core/test/e2e-api/admin/members.test.js
Labels: none

Fixed welcome email being sent for Admin API creates
  ghost/core/core/server/api/endpoints/members.js
Labels: none

Initial likes wire up
  apps/admin-x-activitypub/src/components/feed/FeedItem.tsx
Labels: affects:admin

Use domain events and jobs manager for member aggregation
  ghost/core/core/server/services/email-analytics/EmailAnalyticsServiceWrapper.js
  ghost/core/core/server/services/email-analytics/jobs/index.js
  ghost/core/core/server/services/email-analytics/jobs/member-email-analytics-update.js
  ghost/email-analytics-service/lib/EmailAnalyticsService.js
  ghost/member-events/index.js
  ghost/member-events/lib/MemberEmailAnalyticsUpdateEvent.js
Labels: none

Added configurable target delivery window for email batch sending
  ghost/core/test/integration/services/email-service/batch-sending.test.js
  ghost/email-service/lib/BatchSendingService.js
  ghost/email-service/lib/MailgunEmailProvider.js
  ghost/email-service/lib/SendingService.js
  ghost/email-service/test/batch-sending-service.test.js
  ghost/email-service/test/mailgun-email-provider.test.js
  ghost/email-service/test/sending-service.test.js
  ghost/mailgun-client/lib/MailgunClient.js
  ghost/mailgun-client/test/fixtures/send-success.json
  ghost/mailgun-client/test/mailgun-client.test.js
Labels: none

Added queueing using db
  ghost/core/core/server/data/schema/schema.js
  ghost/core/core/server/services/email-analytics/EmailAnalyticsServiceWrapper.js
  ghost/core/core/server/services/mentions-jobs/job-service.js
  ghost/job-manager/lib/JobManager.js
  ghost/job-manager/lib/JobsRepository.js
Labels: none

Added copy of jobs manager for testing out workerpool
  ghost/core/core/boot.js
  ghost/core/core/server/services/email-analytics/EmailAnalyticsServiceWrapper.js
  ghost/job-manager-background/.eslintrc.js
  ghost/job-manager-background/README.md
  ghost/job-manager-background/index.js
  ghost/job-manager-background/lib/JobManagerBackground.js
  ghost/job-manager-background/lib/JobsRepository.js
  ghost/job-manager-background/lib/jobs/test-job.js
  ghost/job-manager-background/package.json
  ghost/job-manager-background/test/.eslintrc.js
  ghost/job-manager-background/test/hello.test.js
  ghost/job-manager/lib/JobManager.js
  yarn.lock
Labels: none

clean up the bad poller
  ghost/job-manager-background/lib/JobManagerBackground.js
  ghost/job-manager-background/lib/jobs/test-job.js
Labels: none

Added in memory queue to prevent duplicate entries
  ghost/job-manager-background/lib/JobManagerBackground.js
  ghost/job-manager-background/lib/JobsRepository.js
  ghost/job-manager-background/lib/jobs/test-job.js
Labels: none

Updated queueing system to run jobs from file
  ghost/core/core/server/services/email-analytics/jobs/member-email-analytics-update.js
  ghost/core/core/server/services/email-analytics/lib/queries.js
  ghost/job-manager-background/lib/JobManagerBackground.js
  ghost/job-manager-background/lib/JobsRepository.js
  ghost/job-manager-background/lib/workers/generic-worker.js
Labels: none

Updated logging
  ghost/job-manager-background/lib/JobManagerBackground.js
Labels: none

save to localstorage with save task
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

🐛 Fixed migrations for SQLite database users (#19839)
  ghost/core/core/server/data/migrations/versions/5.55/2023-07-10-05-16-55-add-built-in-collection-posts.js
  ghost/core/core/server/data/migrations/versions/5.65/2023-09-22-06-42-55-repopulate-built-in-featured-collection-posts.js
  ghost/core/core/server/data/migrations/versions/5.89/2024-07-30-19-51-06-backfill-offer-redemptions.js
Labels: none

Added full-page refresh when new post route is in a bad state
  ghost/admin/app/controllers/lexical-editor.js
  ghost/admin/app/routes/application.js
  ghost/admin/app/routes/lexical-editor/new.js
  ghost/admin/app/utils/sentry.js
  ghost/admin/app/utils/window-proxy.js
  ghost/admin/ember-cli-build.js
  ghost/admin/package.json
  ghost/admin/tests/test-helper.js
  ghost/admin/tests/unit/routes/lexical-editor.new-test.js
  yarn.lock
Labels: affects:admin
