Repository PUCIT-DEV/Ghost-new, changes with the labels that .github/labeler.yml gives for each.
All labels: affects:i18n, affects:admin, affects:portal

.github/labeler.yml:

'affects:i18n':
  - 'ghost/i18n/**'
'affects:admin':
  - 'ghost/admin/**'
  - 'apps/admin-x-*/**'
'affects:portal':
  - 'apps/portal/**'

🐛 Fixed navigations links for Ghost sites hosted on a subdirectory (#21071)
  apps/admin-x-design-system/src/global/form/URLTextField.tsx
  apps/admin-x-design-system/src/index.ts
  apps/admin-x-design-system/src/utils/formatUrl.ts
  apps/admin-x-design-system/test/unit/utils/formatUrl.test.ts
Labels: affects:admin

Update admin-x-activitypub
  apps/admin-x-activitypub/src/api/activitypub.test.ts
  apps/admin-x-activitypub/src/api/activitypub.ts
  apps/admin-x-activitypub/src/components/Activities.tsx
  apps/admin-x-activitypub/src/components/Inbox.tsx
  apps/admin-x-activitypub/src/components/Profile.tsx
  apps/admin-x-activitypub/src/components/activities/ActivityItem.tsx
  apps/admin-x-activitypub/src/components/feed/ArticleModal.tsx
  apps/admin-x-activitypub/src/components/feed/FeedItem.tsx
  apps/admin-x-activitypub/src/components/global/APAvatar.tsx
  apps/admin-x-activitypub/src/hooks/useActivityPubQueries.ts
  apps/admin-x-activitypub/src/styles/index.css
Labels: affects:admin

Added beforeunload debug log to editor
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

Added beforeunload debug log to editor
  ghost/admin/app/controllers/lexical-editor.js
Labels: affects:admin

Renamed test and removed old event-based assertions
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

Removed subscriptionCreatedEvent source from method and moved it to the caller
  ghost/members-api/lib/repositories/MemberRepository.js
Labels: none

Added assertion that createStripeSubscriptionThenFireSubscriptionCreated event was called
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

Refactored assertions in dispatches paid subscription event test
  ghost/members-api/lib/repositories/MemberRepository.js
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

Extracted createStripeSubscriptionThenFireSubscriptionCreated from linkSubscription
  ghost/members-api/lib/repositories/MemberRepository.js
Labels: none

Readded assertions that SubscriptionCreatedEvent was fired
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

Renamed source to susbcriptionCreatedEventSource
  ghost/members-api/lib/repositories/MemberRepository.js
Labels: none

Removed return value from linkSubscription
  ghost/members-api/lib/repositories/MemberRepository.js
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

Renamed createStripeSubscriptionThenFireSubscriptionCreated
  ghost/members-api/lib/repositories/MemberRepository.js
  ghost/members-api/test/unit/lib/repositories/member.test.js
Labels: none

🐛 Fixed errors creating new posts after a post access change via context menu
  ghost/admin/app/components/posts-list/modals/edit-posts-access.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

Fixed bugs in post's change-access context menu flow (#21173)
  ghost/admin/app/components/posts-list/context-menu.hbs
  ghost/admin/app/components/posts-list/context-menu.js
  ghost/admin/app/components/posts-list/modals/edit-posts-access.js
  ghost/admin/mirage/config/posts.js
  ghost/admin/mirage/models/post.js
  ghost/admin/mirage/serializers/post.js
  ghost/admin/tests/acceptance/content-test.js
Labels: affects:admin

major refactoring, trying to move to hooks and fn components
  apps/portal/src/App.js
  apps/portal/src/components/PortalContent.js
  apps/portal/src/components/SentryErrorBoundary.js
  apps/portal/src/components/TriggerButton.js
  apps/portal/src/hooks/useActions.js
  apps/portal/src/hooks/useHumanReadableError.js
  apps/portal/src/hooks/usePortalActions.js
  apps/portal/src/hooks/usePortalData.js
  apps/portal/src/tests/data-attributes.test.js
  apps/portal/src/utils/api.js
  apps/portal/src/utils/data-fetchers.js
  apps/portal/src/utils/portal-utils.js
Labels: affects:portal

Stats page design fixes (#21171)
  ghost/admin/app/components/gh-post-settings-menu.hbs
  ghost/admin/app/components/members-activity/event-type-filter.hbs
  ghost/admin/app/components/stats/charts/kpis.js
  ghost/admin/app/components/stats/charts/technical.hbs
  ghost/admin/app/components/stats/charts/technical.js
  ghost/admin/app/components/stats/charts/top-locations.hbs
  ghost/admin/app/components/stats/charts/top-locations.js
  ghost/admin/app/components/stats/charts/top-pages.hbs
  ghost/admin/app/components/stats/charts/top-pages.js
  ghost/admin/app/components/stats/charts/top-sources.hbs
  ghost/admin/app/components/stats/charts/top-sources.js
  ghost/admin/app/components/stats/modal-stats-all.hbs
  ghost/admin/app/components/stats/modal-stats-all.js
  ghost/admin/app/components/stats/parts/audience-filter.hbs
  ghost/admin/app/components/stats/technical-overview.hbs
  ghost/admin/app/controllers/stats.js
  ghost/admin/app/styles/components/dropdowns.css
  ghost/admin/app/styles/components/power-select.css
  ghost/admin/app/styles/components/settings-menu.css
  ghost/admin/app/styles/layouts/member-activity.css
  ghost/admin/app/styles/layouts/post-history.css
  ghost/admin/app/styles/layouts/stats.css
  ghost/admin/app/styles/patterns/buttons.css
  ghost/admin/app/styles/patterns/forms.css
  ghost/admin/app/templates/stats.hbs
  ghost/admin/app/utils/stats.js
  ghost/admin/public/assets/icons/stats-placeholder.svg
Labels: affects:admin

Showing country names instead of codes in Stats (#21172)
  ghost/admin/app/components/stats/charts/technical.js
  ghost/admin/app/components/stats/charts/top-locations.js
  ghost/admin/app/components/stats/charts/top-pages.js
  ghost/admin/app/components/stats/charts/top-sources.js
  ghost/admin/app/components/stats/modal-stats-all.js
  ghost/admin/app/controllers/stats.js
  ghost/admin/app/styles/layouts/stats.css
  ghost/admin/app/templates/stats.hbs
  ghost/admin/package.json
  yarn.lock
Labels: affects:admin

Added dockerfile and .dockerignore
  .dockerignore
  Dockerfile
Labels: none

Added nx daemon
  Dockerfile
Labels: none

wip
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
Labels: affects:admin

Added staff2fa labs flag
  ghost/core/core/shared/labs.js
  ghost/core/test/e2e-api/admin/__snapshots__/config.test.js.snap
Labels: none

Added staff2fa labs toggle
  apps/admin-x-settings/src/components/settings/advanced/labs/AlphaFeatures.tsx
Labels: affects:admin

Sort of working dockerfile
  Dockerfile
  ghost/core/core/shared/config/defaults.json
  yarn.lock
Labels: none

Added @tryghost/custom-fonts module
  apps/admin-x-settings/package.json
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  apps/admin-x-settings/vite.config.mjs
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/package.json
  ghost/custom-fonts/.eslintrc.js
  ghost/custom-fonts/README.md
  ghost/custom-fonts/package.json
  ghost/custom-fonts/src/index.ts
  ghost/custom-fonts/test/.eslintrc.js
  ghost/custom-fonts/test/hello.test.ts
  ghost/custom-fonts/tsconfig.json
Labels: affects:admin

⚡️ Improved performance of several checks in GScan
  ghost/core/package.json
  yarn.lock
Labels: none

Added basic docker compose with Ghost service
  Dockerfile
  docker-compose.yml
Labels: none

Added heading font option
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/core/core/server/api/endpoints/utils/serializers/input/settings.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
Labels: affects:admin

Provided esm and commonjs modules for @tryghost/custom-fonts
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
  ghost/custom-fonts/package.json
  ghost/custom-fonts/src/index.ts
  ghost/custom-fonts/tsconfig.esm.json
  ghost/custom-fonts/tsconfig.json
Labels: affects:admin

Added "verified" status to session
  ghost/core/core/server/api/endpoints/session.js
  ghost/core/core/server/services/auth/session/middleware.js
  ghost/session-service/lib/session-service.js
  ghost/session-service/test/SessionService.test.js
Labels: none

Updated the list of fonts in the custom fonts module
  ghost/custom-fonts/src/index.ts
Labels: none

Added missing semicolon
  ghost/custom-fonts/src/index.ts
Labels: none

Added migration for new settings keys
  ghost/core/core/server/data/migrations/versions/5.97/2024-10-08-14-25-27-added-body-font-settings.js
  ghost/core/core/server/data/migrations/versions/5.97/2024-10-08-14-36-58-added-heading-font-setting.js
  ghost/core/core/server/data/schema/default-settings/default-settings.json
  ghost/core/test/unit/server/data/exporter/index.test.js
  ghost/core/test/unit/server/data/schema/integrity.test.js
Labels: none

Add token sending email template
  ghost/session-service/lib/emails/signin.js
Labels: none

Moved themes out of design settings
  apps/admin-x-design-system/src/global/chrome/DesktopChrome.tsx
  apps/admin-x-design-system/src/global/layout/PageHeader.tsx
  apps/admin-x-settings/src/components/Sidebar.tsx
  apps/admin-x-settings/src/components/settings/site/ChangeTheme.tsx
  apps/admin-x-settings/src/components/settings/site/SiteSettings.tsx
  apps/admin-x-settings/src/components/settings/site/ThemeModal.tsx
  apps/admin-x-settings/src/components/settings/site/theme/ThemePreview.tsx
Labels: affects:admin

Added heading font selector
  ghost/core/core/frontend/helpers/ghost_head.js
  ghost/custom-fonts/src/index.ts
Labels: none

First pass on unsetting custom fonts
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
Labels: affects:admin

Removed change theme from brand for real
  apps/admin-x-design-system/src/global/modal/PreviewModal.tsx
  apps/admin-x-settings/src/components/settings/site/DesignModal.tsx
Labels: affects:admin

Properly unset custom font and offer theme defaults as default
  apps/admin-x-settings/src/components/settings/site/designAndBranding/BrandSettings.tsx
Labels: affects:admin

Updated heading and body selector
  ghost/custom-fonts/src/index.ts
Labels: none
